@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..90&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap&https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap-layout: 30px;
  --box-color-min-width: 160px;
  --max-number-box: 5;
  --total-size-available: 100%;

  --gap-count: calc(var(--max-number-box) - 1);

  --gap-total-width: calc(var(--gap-count) * var(--gap-layout));

  --box-color-max-width: calc(
    (var(--total-size-available) - var(--gap-total-width)) / var(--max-number-box)
  );

  --background-image-upper-lower-rocket: none;

  /* colors web design */
}

/* font-family */

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.edu-au-vic-wa-nt-hand-<uniquifier> {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/*angle up pointing : &#65085; */

/*angle down pointing : &#65086; */

@media (min-width: 160px) {
  body {
    background-color: #f4f4f4;
    overflow-x: hidden;
    /* color: #ad846c; */
    font-family: 'Noto Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }

  #app {
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    font-weight: normal;
  }

  /* font families */
  /* headlines - logo */
  .edu-au-vic-wa-nt-hand-500 {
    font-family: 'Edu AU VIC WA NT Hand', cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  /* title */
  .note-serif-400 {
    font-family: 'Noto Serif', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }

  /* sub-title */

  .karla-500 {
    font-family: 'Karla', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  /* text */
  .noto-sans-400 {
    font-family: 'Noto Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }

  /* font  size */
  h2,
  h3 {
    font-family: 'Noto Serif', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }
}

/* @media (min-width: 1024px) {
} */
