@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap-layout: 30px;
  --box-color-min-width: 160px;
  --max-number-box: 5;
  --total-size-available: 100%;

  --gap-count: calc(var(--max-number-box) - 1);

  --gap-total-width: calc(var(--gap-count) * var(--gap-layout));

  --box-color-max-width: calc(
    (var(--total-size-available) - var(--gap-total-width)) / var(--max-number-box)
  );

  --background-image-upper-lower-rocket: none;
}

/* font-family */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.edu-au-vic-wa-nt-hand-<uniquifier> {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*angle up pointing : &#65085; */

/*angle down pointing : &#65086; */

@media (min-width: 160px) {
  body {
    background-color: #f4f4f4;
    overflow-x: hidden;
    /* color: #423f3f; */
  }

  #app {
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    font-weight: normal;
  }
}

/* @media (min-width: 1024px) {
} */
